/* Responsive width, matches with default bootstrap navbar */
.quotes {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 350px;
}

@media screen and (max-width: 1400px) {
    .quotes {
        max-width: 1120px;
    }
}

@media screen and (max-width: 1200px) {
    .quotes {
        max-width: 940px;
    }
}

@media screen and (max-width: 992px) {
    .quotes {
        max-width: 700px;
    }
}

@media screen and (max-width: 768px) {
    .quotes {
        max-width: 520px;
    }
}

@media screen and (max-width: 768px) {
    .quotes {
        max-width: 520px;
    }
}

@media screen and (max-width: 576px) {
    .quotes {
        max-width: 96.5%;
    }
}

.div_box {
    display: flex;
}

.new__quoteCustomerInfo {
    width: 750px;
}

.new__quoteAmount {
    width: 250px;
}