@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.header__flexDown {
    display: flex;
    flex-direction: column;
}

.header__flex {
    display: flex;
}

.header__flex img:first-child {
    display: none;
}

@media screen and (max-width: 920px) {
    .header__flex img:first-child {
        display: flex;
    }

    .header__flex img:last-child {
        display: none;
    }
}

.header__helloText {
    color: rgba(255, 255, 255, 0.55);;
    text-decoration: none;
    font-family: Poppins;
    font-weight: 400;
}

.header__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.55);
    transition: color 150ms;
}

.header__link:hover {
    text-decoration: underline;
    color: white;
    transition: color 150ms;
}

.header__linkFlex {
    display: flex;
    justify-content: right;
}

@media screen and (max-width: 920px) {
    .header__linkFlex {
        justify-content: left;
    }
}

.header__logo {
    height: 3rem;
    width: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.55);
    border-radius: 100%;
    margin-right: .5rem;
}

.header__profilePic {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-left: .5rem;
    margin-right: 0;
    border: 2px solid rgba(255, 255, 255, 0.55);
    object-fit: cover;
}

@media screen and (max-width: 920px) {
    .header__profilePic {
        margin-right: .5rem;
        margin-left: 0;
    }
}

.header__navLink, .header__navDropdown, .header__navDropDownItem, .header__signIn {
    font-family: Poppins!important;
    font-weight: 400!important;
}