/* Responsive width, matches with default bootstrap navbar */
.new {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1400px) {
    .new {
        max-width: 1120px;
    }
}

@media screen and (max-width: 1200px) {
    .new {
        max-width: 940px;
    }
}

@media screen and (max-width: 992px) {
    .new {
        max-width: 700px;
    }
}

@media screen and (max-width: 768px) {
    .new {
        max-width: 520px;
    }
}

@media screen and (max-width: 768px) {
    .new {
        max-width: 520px;
    }
}

@media screen and (max-width: 576px) {
    .new {
        max-width: 96.5%;
    }
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 3px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}