@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Responsive width, matches with default bootstrap navbar */
.new {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1400px) {
    .new {
        max-width: 1120px;
    }
}

@media screen and (max-width: 1200px) {
    .new {
        max-width: 940px;
    }
}

@media screen and (max-width: 992px) {
    .new {
        max-width: 700px;
    }
}

@media screen and (max-width: 768px) {
    .new {
        max-width: 520px;
    }
}

@media screen and (max-width: 768px) {
    .new {
        max-width: 520px;
    }
}

@media screen and (max-width: 576px) {
    .new {
        max-width: 96.5%;
    }
}

.new__customerSelect {
    display: flex;
    white-space: pre-wrap;
}

@media screen and (max-width: 768px) {
    .new__customerSelect {
        flex-direction: column;
    }
}

.new__flex {
    display: flex;
    white-space: pre-wrap;
}

.new__button {
    background-color: rgb(172, 217, 255);
}

.new__dropdown {
    height: 2.5rem;
}

.new__headerText {
    font-family: Poppins;
    font-weight: 700;
}

.new__textSubHeader {
    font-family: Poppins;
    font-weight: 600;
}


.new__text, .new__bulletText {
    font-family: Poppins;
    font-weight: 400;
}

.new__bulletLink {
    font-family: Poppins;
    font-weight: 400;
    color: rgb(161, 72, 72);
}

.new__quoteContainer {
    border: 1px solid #999;
    background-color: beige;
    height: auto;
}

.new__quote {
    display: flex;
    justify-content: space-between;
    white-space: pre-wrap;
    font-family: Poppins;
    font-weight: 400;
}

.new__customerInfo {
    display: flex;
    flex-direction: column;
}

.new__popup {
    display: flex;
    flex-direction: column;
}

.new__delete {
    margin-left: .5rem;
    border: 1px solid black;
}

@media screen and (max-width: 768px) {
    .new__quote {
        flex-direction: column;
        border: 1px solid black;
    }
}

.new__quoteCustomerInfo {
    display: flex;
}

@media screen and (max-width: 768px) {
    .new__quoteCustomerInfo {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
}

.new__quoteCustomer, .new__quoteId, .new__quoteAmount {
    display: flex;
    margin: auto;
    font-size: 1.5rem;
}

.new__quoteButton {
    border: 1px solid #999;
}

.new__discount {
    text-decoration: line-through;
}

.new__discount:last-child {
    text-decoration: none;
}

.new__discountFlex {
    display: flex;
    flex-direction: column;
}

/* CSS */
.button-49,
.button-49:after {
    width: 100%;
    height: 2.5rem;
    font-size: 1.6rem;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-49:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
  
    content: 'GROUP 3B';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}

.button-49:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }
    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }
    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }
    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }
    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }
    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }
    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }
    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }
    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }
    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }
    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@media (min-width: 768px) {
    .button-49,
    .button-49:after {
        width: 12.5rem;
        height: 2.5rem;
        margin-left: .5rem;
        /* line-height: 88px; */
    }
}