@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* center login container */
.login {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.login__center {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
}

.login__width {
    display: flex;
    justify-content: center;
    width: 30rem;
}

.login__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* header */
.login__headers {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login__headerText {
    text-align: center;
    color: black;
    font-family: Poppins;
    font-weight: 700;
    margin-bottom: 3.125rem;
}

.login__centerLogo {
    display: flex;
    justify-content: center;
    margin-bottom: 3.125rem;
}

@media screen and (max-height: 750px) {
    .login__headerText {
        margin-bottom: 1rem;
    }

    .login__centerLogo {
        margin-bottom: 1rem;
    }
}

.login__logoContainer {
    height: 9.375rem;
    width: 9.375rem;
    border: 3px solid black;
    border-radius: 50%;
}

.login__logo {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* login fields */
.login__whitespace {
    height: 30px;
}


/* login button */
.login__button {
    all: unset;
}

.login__buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 25px;
    background-color: #3abb20;
    box-shadow: 0px 4px 8px #3abb20;
    transition: 500ms;
}

.login__buttonContainer:hover {
    background-color: rgb(61, 60, 60);
    transition: 500ms;
    box-shadow: 0px 8px 15px rgb(61, 60, 60);
}

.login__buttonText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3.125rem;
    color: white;
    text-transform: uppercase;
    font-family: Poppins;
    font-weight: 600;
}

.login__register:first-child {
    margin-top: 10rem;
}

@media screen and (max-height: 750px) {
    .login__register:first-child {
        margin-top: 3rem;
    }
}

@media screen and (max-height: 580px) {
    .login__register:first-child {
        margin-top: 1rem;
    }
}

/* register */
.login__register {
    display: flex;
    white-space: pre-wrap;
    list-style-type: circle;
}

.login__registerText {
    font-family: Poppins;
    font-weight: 400;
    color: #999;
}

.login__link {
    color: #3abb20;
}

.login__link:hover {
    color: rgb(61, 60, 60);
}

.login__registerLink {
    font-family: Poppins;
    font-weight: 400;
    color: #3abb20;
}